/* RESET PROPRE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color:#080414;
    color: hsl(0, 100%, 97%);
    text-align: center;
    line-height: 1.6;
}

/* HEADER */
header {
    background-color: rgba(17, 34, 51, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 15px;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}

/* NAVIGATION */
nav {
    margin-top: 12px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 12px;
    font-weight: bold;
    transition: color 0.3s ease;
   
}

nav a:hover {
    color: #cbd5e0;
}

/* TITRES */
h2 {
    padding: 2px;
    margin: 2px 0;
}

/* SECTIONS */
section {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #3f3c3c;
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}

/* PARAGRAPHES */
p {
    margin: 15px 0;
}

/* LISTES */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background:#925858;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    border-left: 6px solid blue;
    max-width: 600px;
     border-radius: 10px;
}

/* LIENS CONTACT SEULEMENT */
#contact a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    
}
.apropos, .competence, .projet, .contact {
    text-align: center;
}


/* FOOTER */
footer {
    background: rgba(17, 34, 51, 0.9);
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    text-align: center;

} 